Requirements

Python
This research was done with Python 3.8. For reproducing the study we recommend using a similar version. 

Python modules
pip install pandas
pip install nltk
pip install spacy
pip install argparse
pip install os
pip install gensim
pip install sys
pip install csv
pip install os

Latest versions (current date 22-01-2022)

For the Embeddings a folder called 'models' is necessary. 
